.App {
  content: "";
  background-image: url("./assets/Background-image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}


.today_weather_container  {
background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}


.day_container {
  background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.443);
backdrop-filter: blur(2.8px);
-webkit-backdrop-filter: blur(2.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-wrapper svg {
  font-size: 60px;
}